/*
- The button color won't change
- Can't warp content-one subtitle
- Can't do dynamic (depending on screen size) padding at "Big Benefit for Business"
- Can't stylized form
*/

body {
    background: url("https://i.imgur.com/OANBjoo.jpg");
    background-size: 100%;
}

#navigation #navbarSupportedContent .nav-item a {
    color: white;
    font-size: 1.1em;
    padding-left: 1.4em;
}

#navigation #navbarSupportedContent .nav-item a:hover {
    color: rgba(255,255,255,.7);
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: 600;
}

.jumbotron {
    background: none;
}

#header-text {
    color: white;
    font-weight: 400;
}

#button-box {
    width: 200px;
    border-radius: 0px;
    height: 60px;
    padding: 15px;
}

#button-box-small {
    width: 170px;
    border-radius: 0px;
    height: 45px;
    padding: 5px;
}

#content-icon {
    font-size: 4em;
    color: #1a57a5;
}

#content-one h3,
#content-one p.learn,
#content-two-text h2,
#content-two-text-left h2{
    color: #1a57a5;
    font-weight: 400;
}

#content-one p.content-one-text,
#content-two-text p,
#content-two-text-left p {
    color: #73767c;
    line-height: 1.7;
    padding-right: 3em;
    font: 1.5em;
}

.fas {
    color: #1a57a5;
    padding-right: 1.1em;
}

#content-two-text p.icon {
    margin-bottom: 0.5em;
}

#content-three-text h1,
#content-three-text p {
    padding-right: 2em;
    padding-left: 2em;
}

#content-three-two p.content-three-two-first {
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 0.9em;
}

#content-three-two p.content-three-two-second {
    color: #73767c;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

#content-three-two h3 {
    color: #1a57a5;
    font-weight: 400;
    text-align: center;
    font-size: 4em;
}

#content-six h1 {
    font-weight: 400;
    font-size: 2em;
}

#content-four-three img {
    width: 25%;
    height: 25%;
    border-radius: 100%;
    margin: 5%;
    margin-bottom: 8%;
}

#content-four-three p.review {
    padding-left: 5%;
    font-style: italic;
    font-size: 1.1em;
}

#content-four-three p.star {
    padding-left: 5%;
}

#content-four-three p.star i {
    color: orange;
    font-size: 0.8em;
}

#content-four-three p.author {
    color: #73767c;
    padding-left: 5%;
    font-size: 1.1em;
}

h1 {
    font-size: 3.25em;
    font-weight: 400;
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border: 0;
    width: 75px;
    height: 2px;
    background: #1a57a5;
}

#content-two-text {
    padding-left: 7.5em;
}

#content-two-text h2 {
    font-size: 2.25em;
}
 
#content-one,
#content-three,
#content-five {
    background: white;
    padding-top: 4em;
    padding-bottom: 4em;
}

#content-two,
#content-four,
#content-seven {
    background: #D6E6F2;
    padding-top: 4em;
    padding-bottom: 4em;
}

img {
    width: 100%;
}

#content-two .container .row,
#content-three .container .row {
    padding-top: 3em;
    padding-bottom: 3em;
}

#testimonial {
    padding: 1em;
    background: white;
    margin-bottom: 2em;
}

#content-six {
    background: #1a57a5;
    padding-top: 4em;
    padding-bottom: 4em;
    color: white;
}

#content-five-one h3 {
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 1em;
}

h4 {
    text-transform: capitalize;
    color: #73767c;
    font-size: 1.1em;
    font-weight: 400;
}

#get-in-touch {
    border: solid;
    padding-right: 4em;
    padding-left: 4em;
    background: white;
    width: 75%;
}

#get-in-touch label {
    padding-bottom: 2em;
}