body {
    background: url("https://i.imgur.com/OANBjoo.jpg");
    background-size: 100%;
}

#navigation #navbarSupportedContent .nav-item a {
    color: white;
    font-size: 1.1em;
    padding-left: 1.4em;
}

#navigation #navbarSupportedContent .nav-item a:hover {
    color: rgba(255,255,255,.7);
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: 600;
}

.jumbotron {
    background: none;
}

#header-text {
    color: white;
    font-weight: 400;
}

#button-box {
    width: 200px;
    border-radius: 0px;
    height: 60px;
    padding: 15px;
}

#content-icon {
    font-size: 4em;
    color: #1a57a5;
}

#content-one h3,
#content-one p.learn {
    color: #1a57a5;
    font-weight: 400;
}

#content-one p.content-one-text{
    color: #73767c;
    line-height: 1.7;
    padding-right: 3em;
    font: 1.5em;
}

h1 {
    font-size: 3.5em;
    font-weight: 400;
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border: 0;
    width: 75px;
    height: 2px;
    background: #1a57a5;
}



#content-one,
#content-three,
#content-five {
    background: white;
    padding-top: 4em;
    padding-bottom: 4em;
}

#content-two,
#content-four,
#content-seven {
    background: #D6E6F2;
    padding-top: 4em;
    padding-bottom: 4em;
}

img {
    width: 100%;
}

#content-two .container .row,
#content-three .container .row {
    padding-top: 3em;
    padding-bottom: 3em;
}

#testimonial {
    padding: 1em;
    background: white;
    margin-bottom: 2em;
}

#content-six {
    background: #1a57a5;
    padding-top: 4em;
    padding-bottom: 4em;
    color: white;
}